[submodule "software_rendering/engine/sdl"]
	path = software_rendering/engine/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "software_rendering/engine/imgui"]
	path = software_rendering/engine/imgui
	url = https://github.com/ocornut/imgui.git
